tmp/**
temp/**
docs/**
.vscode/**
.vscode-test/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.prettierignore
.prettierrc
.npmrc
.gitattributes
.vscode-test.mjs
pnpm-lock.yaml
pnpm-workspace.yaml
CHANGELOG.md